@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.game-board {
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 300px 300px;
    width: 50%;
}

.field {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
    align-items: center;
    width: auto;
    max-height: 300px;
    position: relative;
}

.player-list p {
    margin: 0 10px;
}

.square {
    width: 30px;
    height: 30px;
    text-align: center;
}

.forestgreen {
    background: forestgreen;
}

.greenyellow {
    background: greenyellow;
}

.player {
    background: goldenrod;
    padding: 0.5rem;
}

.player:nth-child(2n) {
    background: lightgoldenrodyellow;
}

.active {
    background: tomato !important;
}

.dice {
    display: flex;
    align-items: center;
    justify-content: left;
}

.dice button {
    padding: 5px 5px;
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-template-rows: repeat(3, 10px);
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    margin-left: auto;
}

.dice button:disabled {
    border: 2px solid lightgrey;
    cursor: not-allowed;
}

.dice-square {
    width: 10px;
    height: 10px;
}

.pip {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    margin: 0 auto;
}

.dice button:disabled .pip {
    background: lightgray;
}

.your-it {
    font-family: 'Sedgwick Ave', cursive;
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: palevioletred;
    transition: 1.5s;
}

.your-it-anim {
    transform: scale(2);
    color: rebeccapurple;
}