@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

* {
    box-sizing: border-box;
}

.your-it {
    font-family: 'Sedgwick Ave', cursive;
    position: absolute;
    font-size: 2rem;
    text-align: center;
    color: palevioletred;
    transition: 1.5s;
}

.your-it-anim {
    transform: scale(2);
    color: rebeccapurple;
}